---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import {
  getArticles,
  getSiteDefinition,
  getStartPage,
  resolveContent,
  resolveInternalContent,
} from '../api/apollo-client';

import TemplateResolver from '../components/TemplateResolver.astro';

export async function getStaticPaths() {
  const startPageContent = await getStartPage();
  const articles = await getArticles();
  const navItems = startPageContent._children.Content.items;

  // Add the start page with the hardcoded "undefined" slug Astro needs
  const pages = [
    {
      slug: undefined,
      pageContent: startPageContent,
      startPageContent: startPageContent,
      navItems,
      articles,
    },
  ];

  // Loop all other navitems from gql
  for (const item of navItems) {
    pages.push({
      slug: item.RelativePath,
      pageContent: await resolveContent(item.RelativePath),
      startPageContent: startPageContent,
      navItems,
      articles,
    });
  }

  // Loop all articles  from gql
  for (const article of articles) {
    pages.push({
      slug: article.RelativePath,
      pageContent: await resolveContent(article.RelativePath),
      startPageContent: startPageContent,
      navItems,
      articles,
    });
  }

  return pages.map(
    ({ slug, pageContent, startPageContent, navItems, articles }) => {
      return {
        params: { slug },
        props: { pageContent, startPageContent, navItems, articles },
      };
    }
  );
}

const { pageContent, startPageContent, navItems, articles } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead
      title={startPageContent.Heading}
      description={startPageContent.Heading}
    />
  </head>
  <body>
    <Header title={startPageContent.CompanyName} navItems={navItems} />
    <main>
      <TemplateResolver pageContent={pageContent} articles={articles} />
    </main>
    <Footer />
  </body>
</html>
