---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import {
  getArticles,
  getSiteDefinition,
  getStartPage,
  resolveContent,
  resolveInternalContent,
} from '../api/apollo-client';

import TemplateResolver from '../components/TemplateResolver.astro';

export async function getStaticPaths() {
  const startPageContent = await getStartPage();
  const navItems = startPageContent._children.Content.items;

  // Add the start page with the hardcoded "undefined" slug Astro needs
  const pages = [
    {
      slug: undefined,
      pageContent: startPageContent,
      startPageContent: startPageContent,
      navItems,
    },
  ];

  // Loop all other navitems from gql
  for (const item of navItems) {
    pages.push({
      slug: item.RouteSegment,
      pageContent: await resolveContent('/' + item.RouteSegment),
      startPageContent: startPageContent,
      navItems,
    });
  }

  return pages.map(({ slug, pageContent, startPageContent, navItems }) => {
    return {
      params: { slug },
      props: { pageContent, startPageContent, navItems },
    };
  });
}

const { pageContent, startPageContent, navItems } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead
      title={startPageContent.Heading}
      description={startPageContent.Heading}
    />
  </head>
  <body>
    <Header title={startPageContent.CompanyName} navItems={navItems} />
    <main>
      <TemplateResolver pageContent={pageContent} />
    </main>
    <Footer />
  </body>
</html>
