---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_DESCRIPTION } from '../consts';
import {
  getArticles,
  getSiteDefinition,
  getStartPage,
  resolveContent,
  resolveInternalContent,
} from '../api/apollo-client';

const startPage = await getStartPage();
//console.log(startPage);
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead title={startPage.Heading} description={startPage.Heading} />
  </head>
  <body>
    <Header title={startPage.CompanyName} />
    <main>
      <h1>🧑‍🚀 {startPage.Heading}</h1>
      <div set:html={startPage.Body} />
      <div class='hero-container'>
        {
          startPage.BannerImages.map((item, i) => (
            <img src={item.ContentLink.Expanded.Url} key={i} />
          ))
        }
      </div>
    </main>
    <Footer />
    <style>
      .hero-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        overflow: hidden;
      }
      .hero-container img {
        border-radius: 10px;
        width: calc((100% - (4 * 1em)) / 4);
        margin: 1em;
        flex: 1;
        object-fit: cover;
      }
    </style>
  </body>
</html>
