---
const { pageContent, articles } = Astro.props;
---

<h1>🧑‍🚀 {pageContent.Heading}</h1>
<div set:html={pageContent.Body} />
<div class='hero-container'>
  {
    pageContent.BannerImages.map((item) => (
      <img src={item.ContentLink.Expanded.Url} />
    ))
  }
</div>
<div class='articles'>
  <h2>Recent writing</h2>
  <ul>
    {
      articles.map((article) => (
        <li>
          <a href={article.RelativePath}>
            <h5 class='title'>{article.Heading}</h5>
          </a>
        </li>
      ))
    }
  </ul>
</div>

<style>
  .hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }
  .hero-container img {
    border-radius: 10px;
    width: calc((100% - (4 * 1em)) / 4);
    margin: 1em;
    flex: 1;
    object-fit: cover;
  }
  ul {
    gap: 2rem;
    list-style-type: decimal-leading-zero;
    margin: 0;
    padding: 0;
  }
  ul li * {
    text-decoration: none;
    transition: 0.2s ease;
  }
  ul li a {
    display: block;
  }
  .articles {
    margin-top: 1em;
  }
</style>
