---
import { Image } from 'astro:assets';
const { pageContent } = Astro.props;
---

<div class='container'>
  <div>
    <h1>{pageContent._metadata.displayName}</h1>
    <div set:html={pageContent.MainBody.html} />
  </div>
  <div><Image src={pageContent.Image.url.default} alt={pageContent._metadata.displayName} inferSize={true}/></div>
</div>

<style>
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }
  .container img {
    border-radius: 10px;
    margin: 1em;
    flex: 1;
    object-fit: cover;
  }
</style>
